.formWrapper {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  height: 250px;
  width: 450px;
}

.formWrapper form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.formInput {
  width: 100%;
  padding: 20px 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid green;
}
.formInput:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.errorMessageWrapper {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.errorMessageWrapper p {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  color: red;
  display: flex;
  justify-content: space-between;
}
.errorMessageWrapper img {
  padding: 5px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  height: 28px;
}

.loginSubmitButton {
  color: white;
  background: yellowgreen;
  border: none;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  width: 25%;
  align-self: flex-end;
  outline: none;
}
.loginSubmitButton:active {
  outline: none;
  background: rgb(130, 170, 50);
}

/*Form from here*/ /*Form from here*/ /*Form from here*/
