.menu-container {
  background: rgba(255, 255, 255, 0.8);
  width: 600px;
  height: 100%;
  display: flex;
  border-radius: 3px;
}

.selected {
  font-weight: bold;
  color: white !important;
  background: gray;
  border-radius: 3px;
}

.navlink {
  text-decoration: none;
  color: rgba(100,100,100,1);
}
