.settingsBlock {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 5% 15%;
  height: 50vh;
  padding: 5%;
  border-radius: 3px;
}

.settingsBlock button {
  background-color: rgb(62, 78, 184);
  border: none;
  color: white;
  outline: none;
  padding: 10px;
  margin: 120px 0;
  border-radius: 3px;
}

.settingsBlock button:hover {
  background-color:#049484;
}

.errormessage{
  color: red;
}
