.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #049484;
    color: white;
}


.RightButtonsContainer {
    display: flex;
    height: 100%;
}




.header-title {
    margin-left: 60px;
  }
  .header-title:hover {
    cursor: pointer;
  }
  .kingdomNameLink{
    text-decoration: none;
    color: black;
  }