.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #049484;
    color: white;
    height: 84px;
}


.RightButtonsContainer {
    display: flex;
    height: 100%;
}




.header-title {
    margin-left: 60px;
  }
  .header-title:hover {
    cursor: pointer;
  }
  .kingdomNameLink{
    text-decoration: none;
    color: black;
  }



  .header-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    background: transparent;
    cursor: pointer;
    color: black;
    font-weight: 700;
    margin: 0;
}

.header-button-container:hover {
    color: white;
    background: #005e55;
}
.RightButtonsContainer .selected{
  color: white;
  background: #005e55;
  border-radius: 0;
}

.header-button-text{
    font-size: 20px;
    font-weight: larger;
}

.buttonLink{
    text-decoration: none;
}
